@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.section-header {
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-header .top {
  height: 240px;
  display: flex;
  justify-content: right;
}
.section-header .top .icon {
  width: 50px;
  height: 50px;
  background: rgba(52, 58, 64, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
}
.section-header .bottom {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
.section-header .bottom h1 {
  font-size: 80px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.section-header .bottom h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
}
.section-header .bottom button {
  width: 180px;
  height: 65px;
  border-radius: 7px;
  color: white;
  border: none;
  font-size: 14px;
  background-color: #1D809F;
}

.section-offer {
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-offer .main {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}
.section-offer .main p {
  font-size: 18px;
  margin-top: 10px;
}
.section-offer .main p a {
  color: #1D809F;
}
.section-offer .main .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-offer .main .bottom button {
  width: 180px;
  height: 65px;
  border-radius: 7px;
  color: white;
  border: none;
  font-size: 14px;
  background-color: #000000;
}

.section-services {
  height: 550px;
  background-color: #1D809F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-services .main {
  width: 75%;
  height: 400px;
}
.section-services .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
}
.section-services .main .top {
  text-align: center;
}
.section-services .main .top p {
  color: #ECB81D;
  font-weight: 900;
}
.section-services .main .top h2 {
  font-size: 45px;
  color: white;
}
.section-services .main .bottom {
  display: flex;
  justify-content: space-around;
}
.section-services .main .bottom .item {
  width: 20%;
  height: 230px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.section-services .main .bottom .item .white-circle {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.section-services .main .bottom .item .white-circle i {
  color: #1D809F;
}
.section-services .main .bottom .item .bottom {
  display: flex;
  flex-direction: column;
}
.section-services .main .bottom .item .bottom h4 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}
.section-services .main .bottom .item .bottom p {
  color: #A2CAD7;
}

.section-welcome {
  height: 700px;
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-welcome .main {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  justify-content: space-between;
  text-align: center;
  height: 230px;
  width: 30%;
  color: #212529;
}
.section-welcome .main-btn button {
  width: 180px;
  height: 65px;
  border-radius: 7px;
  color: white;
  border: none;
  font-size: 14px;
  background-color: #1D809F;
}

.section-projects {
  font-family: "Source Sans Pro", sans-serif;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-projects .main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1100px;
  width: 80%;
}
.section-projects .main .top {
  text-align: center;
}
.section-projects .main .top p {
  color: #ECB81D;
  font-weight: 900;
}
.section-projects .main .top h2 {
  font-size: 45px;
  color: #212529;
}
.section-projects .bottom {
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-projects .bottom .item {
  width: 50%;
  height: 400px;
}
.section-projects .bottom .item1 {
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg");
  background-size: cover;
}
.section-projects .bottom .item1 .top {
  height: 270px;
}
.section-projects .bottom .item1 .text {
  height: 100px;
}
.section-projects .bottom .item1 .text .main-text {
  width: 80%;
  margin: 0 auto;
  color: white;
}
.section-projects .bottom .item1 .text .main-text p {
  font-size: 20px;
  margin-top: 10px;
}
.section-projects .bottom .item2 {
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg");
  background-size: cover;
}
.section-projects .bottom .item2 .top {
  height: 270px;
}
.section-projects .bottom .item2 .text {
  height: 100px;
}
.section-projects .bottom .item2 .text .main-text {
  width: 80%;
  margin: 0 auto;
  color: white;
}
.section-projects .bottom .item2 .text .main-text p {
  font-size: 20px;
  margin-top: 10px;
}
.section-projects .bottom .item3 {
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg");
  background-size: cover;
}
.section-projects .bottom .item3 .top {
  height: 270px;
}
.section-projects .bottom .item3 .text {
  height: 100px;
}
.section-projects .bottom .item3 .text .main-text {
  width: 80%;
  margin: 0 auto;
  color: white;
}
.section-projects .bottom .item3 .text .main-text p {
  font-size: 20px;
  margin-top: 10px;
}
.section-projects .bottom .item4 {
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg");
  background-size: cover;
}
.section-projects .bottom .item4 .top {
  height: 270px;
}
.section-projects .bottom .item4 .text {
  height: 100px;
}
.section-projects .bottom .item4 .text .main-text {
  width: 80%;
  margin: 0 auto;
  color: white;
}
.section-projects .bottom .item4 .text .main-text p {
  font-size: 20px;
  margin-top: 10px;
}
.section-projects .bottom .item3 {
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg");
  background-size: cover;
}
.section-projects .bottom .item4 {
  background-image: url("https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg");
  background-size: cover;
}

.sections-buttons {
  height: 380px;
  background-color: #1D809F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sections-buttons .main {
  width: 40%;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
.sections-buttons .btns {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.sections-buttons .btns button {
  width: 180px;
  height: 65px;
  border-radius: 7px;
  color: white;
  border: none;
  font-size: 14px;
}
.sections-buttons .btns .first {
  color: black;
  background-color: white;
}
.sections-buttons .btns .second {
  background-color: black;
  color: white;
}

.section-map iframe {
  width: 100%;
}

footer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .main {
  height: 200px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
}
footer .icons {
  display: flex;
  justify-content: space-around;
}
footer .icons .item {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #1D809F;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .end p {
  color: #000000;
}/*# sourceMappingURL=index.css.map */